@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="text-center">
        <h1 class="display-4">Bem-vindo!</h1>
    </div>
    <div>
        <p class="text-center">Site para cadastro de fornecedores e produtos.</p>
    </div>

    <section style="display: flex; width: 100%; justify-content: center">
        <img class="img-fluid" src="https://myrp.com.br/wp-content/uploads/2017/04/Cadastro-de-Clientes_Imagem1.png" alt="Italian Trulli">
    </section>
</section>
